#contact_modal {
    display: none;
}

.photo_link {
  text-decoration: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photograph-header h1 {
  color: #D1563D;
  font-size: 35px;
  font-weight: lighter;
  margin: 0 0 10px;
}

.photograph-header .photographer_other_infos {
  display: flex;
  flex-direction: column;
}

.photograph-header .photographer_city {
  color: #901C1C;
  font-weight: lighter;
  font-size: 16px;
  margin-bottom: 1rem;
}

.photograph-header .photographer_tagline {
  font-size: 12px;
  font-weight: lighter;
  opacity: 0.6;
}

.photograph-header .photograph-picture img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.contact_button {
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 120px;
    height: 50px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

#contact_modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5)
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
    top: 3%;
    right: 25%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h1 {
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 4rem;
    color: black;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 25px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
}

form textarea {
  width: 100%;
  height: 100px;
}

.media_tri {
  margin: 1rem 100px;
}

#tri_select {
  margin-left: 2rem;
}

#tri_select, #tri_select option {
    background-color: #911B1C;
    color: white;
    border: none;
    padding: 10px;
    font-size: 15px;
    font-weight: 900;
}

.media-section {
  margin: 1rem 100px 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
}

.media-section article {
  width: 300px;
}

.media-section article img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.media-section article video {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.media-section article .photo_infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #901C1C;
  font-size: 18px;
}


.media-section article .photo_infos .photo_likes {
  display: flex;
  align-items: center;
}

.media-section article .photo_infos .photo_likes .fa-heart {
  margin-left: 5px;
}

.supplementary-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #DB8876;
  color: black;
  width: 18rem;
  font-size: 18px;
  font-weight: bolder;
  padding: 0 1rem;
  position: fixed;
  bottom: 0;
  right: 2%;
}

.supplementary-infos .photo_total_likes {
  display: flex;
  align-items: center;
}

.supplementary-infos .photo_total_likes .photo_total_likes_number {
  margin-right: 5px;
}

.strong {
  font-weight: bolder;
}

#media_modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5)
}

.caroussel_modal {
  position: absolute;
  top: 3%;
  right: 4%;
  background-color: white;
  height: 95%;
  width: 91%;
}

.caroussel_modal header {
  position: absolute;
  right: 1rem;
  top: 2rem;
  cursor: pointer;
}

.slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 3rem;
}

.slide {
  width: 1250px;
  height: 750px;
  transition: all 0.5s;
}

.slide img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.slide video {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.slide .photo_title {
  color: #911B1C;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  z-index: 10px;
  cursor: pointer;
  color:#911B1C;
  font-size: 18px;
  background-color: transparent;
  font-size: 3rem;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}
